/* background color */
body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    font-size: 1.25rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;

    .nav-link {
        font-weight: 300;
        color: #FFF;

        &:hover {
            color: #27aaf9;
            transition-delay: 0.075s
        }
    }
    .navbar-toggler {
        border: none;
        outline: none;
    }
}


#showcase {
    background: url("../images/taiwan.jpg") center center / cover no-repeat;
    min-height: 750px;
    position: relative;

    #header {
        z-index: 2;
    }

    #overlay {
        background: rgba(0, 0, 0, 0.2);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

/* Profile CSS */
#me {
    border-radius: 50%;
    width: 250px;
}

#icon-section {
    .icon {
        font-size: 45px;
    }
}

@media(max-width: 768px) {
    .navbar {
        background: #2c3e50;
    }

    #showcase {
        min-height: 400px;
    }

    #me {
        width: 150px;
    }

    #showcase-title {
        font-size: 2.5rem;
    }
}

.navbar.scroll {
    background-color: #90CAF9;
    transition: background 550ms;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}