/* background color */
body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#navbar {
    font-size: 1.25rem;
    z-index: 3;

    .nav-link {
        font-weight: 400;
        color: #FFF;

        &:hover {
            color: #1abc9c;
            transition-delay: 0.075s
        }
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }
}


#showcase {
    background: url("../images/laptop.jpg") center center / cover no-repeat;
    min-height: 750px;
    position: relative;

    #header {
        z-index: 2;
    }

    #overlay {
        background: rgba(0, 0, 0, 0.35);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}

/* Profile CSS */
#me {
    border-radius: 50%;
    width: 250px;
}

#icon-section {
    .icon {
        font-size: 45px;
    }
}

/* Media Query */
@media(max-width: 768px) {
    .navbar {
        background: #2c3e50;
    }

    #showcase {
        min-height: 400px;
    }

    #me {
        width: 150px;
    }

    #showcase-title {
        font-size: 2.5rem;
    }
}

.scrollspy-resume {
    position: relative;
    overflow-y: scroll;
    height: 500px;
}

.navbar.scroll {
    background-color: #2c3e50;
    transition: background 550ms;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.hr-enlarge {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
    // background-color: #FFF;
}

::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 5px rgba(73, 80, 87, 0.3);
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 1px rgba(73, 80, 87, 1);
    -webkit-box-shadow: inset 0 0 1px rgba(73, 80, 87, 1);
    background-color: #d9dcdd;
}

// Tooltip css
.tooltip-inner {
    background-color: #1abc9c;
    padding: 5px 15px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #1abc9c;
}

.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #1abc9c;
}

.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #1abc9c;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #1abc9c;
}

// Cards for portfolio page
.card {
    &:hover {
        -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
        transition: all .75s;
    }

    & .card-header {
        padding: 5px 10px;

        & :hover,
        :focus {
            text-decoration: none;
        }
    }
}

// Added width to border
.border-right {
    border-width: 2px !important;
}

.navbar-brand {
    font-size: 1.5625rem
}