/* background color */
body {
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

#navbar .navbar-brand {
    color: #27aaf9;
}

#navbar .nav-link {
    color: #FFF;
    font-weight: 300;
}

#navbar .nav-link:hover {
    color: #0f9df3f0;
    transition-delay: 0.1s
}

#navbar {
    text-transform: lowercase;
    font-size: 1.25rem;
}

.navbar.scroll {
    background-color: #90CAF9;
    transition: background 550ms;
}

.text-shadow {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

#image-banner {
    position: relative;
}

/* Profile CSS */
#me {
    position: absolute;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}